
#input-container {
    position: absolute;
    top: 20px;
    left: 150px;
    transform: translateX(-50%);
    z-index: 10;
    text-align: center;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 5px;
}


#select-container {
    position: absolute;
    top: 80px;
    left: 150px;
    transform: translateX(-50%);
    z-index: 10;
    text-align: center;
}

select {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 5px;
}


button:hover {
    background-color: #45a049;
}


#result {
    margin-top: 150px; 
    font-size: 18px;
    text-align: center;
    position: absolute; 
    bottom: 100px; 
    left: 50px; 
}
      

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; /* Posición absoluta */
    bottom: 20px; /* Coloca el botón a 20px de la parte inferior */
    left: 50%; /* Posición horizontal al 50% del contenedor */
    transform: translateX(-50%); /* Corrección para centrarlo */
}